@model LocalIssueTracker.Models.Issue

@{
    ViewBag.Title = "Issue - Details";
}

<h2>Project: @Model.Project.Name</h2>

<div>
    <h4>Issue: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueStatus)
        </dd>
    </dl>
</div>