@model LocalIssueTracker.Models.Issue

@{
    ViewBag.Title = "Issues - Details";
}

<h2>Project: @Model.Project.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueStatus)
        </dt>

        <dd>
            <div id="issueStatusDiv">
                @Html.Partial("_IssueStatus", @Model.IssueStatus.ToString())
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Project", "Details", "Projects", new { id = Model.Project.ProjectID }, new { @class = "btn btn-default" })
</p>
